@font-face {
  font-family: 'Tarrget Chrome Italic';
  src: url('./fonts/tarrgetchromeital.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Tarrget Condensed';
  src: url('./fonts/tarrgetcond.ttf') format('truetype'); /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
  background-image: url('./images/background.png');
  overflow: hidden;
}

textarea:focus,
input:focus,
a:focus {
  outline: none;
}

.logo {
  font-family: 'Tarrget Chrome Italic';
  font-size: 70px;
  float: left;
  padding: 0;
  margin-top: 5px;
  margin-left: 15px;
  color: #defe47;
}

.logo a:hover {
  color: #7700a6;
}

a {
  color: #defe47;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo i {
  margin-right: 10px;
}

.navButtons {
  margin-top: 15px;
  margin-right: 5px;
}

.authbuttons {
  margin-top: 20px;
}

.purpleButton {
  background: #7700a6;
  border-radius: 11px;
  padding: 10px 15px 10px 15px;
  font-family: 'Tarrget Condensed';
  font-size: 40px;
  color: #defe47;
  border: none;
  margin-right: 10px;
}

.purpleButton:hover {
  opacity: 80%;
  cursor: pointer;
  border: 1px solid #defe47;
}

.container {
  text-align: center;
}

.container i {
  position: relative;
  left: 50px;
  font-size: 30px;
  top: 4px;
}

.formInput {
  font-family: 'Tarrget Condensed';
  font-size: 25px;
  background: #defe47;
  border-radius: 20.5px;
  border: none;
  width: 684px;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 55px;
  outline: none;
}

.authstate {
  font-family: 'Tarrget Condensed';
  font-size: 60px;
  color: #defe47;
}

.alert-danger {
  font-family: 'Tarrget Condensed';
  background-color: #7700a6;
  font-size: 25px;
  color: #defe47;
  border-radius: 20.5px;
  border: none;
  width: 50%;
  height: 20px;
  padding: 20px 20px 20px 20px;
  outline: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.performerCard {
  width: auto;
  height: 160px;
}

.performerCard .performerName {
  font-family: 'Tarrget Condensed';
  font-size: 41px;
  color: #defe47;
  display: flex;
}

.performerCard .performerWorth {
  font-family: 'Tarrget Condensed';
  font-size: 41px;
  color: #fe00fe;
  display: flex;
  margin: 0;
}

.performerCard .performerWorth i {
  color: #defe47;
  display: inline;
  margin-left: -44px;
}

.performerCard img {
  height: 100px;
  width: auto;
  float: left;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboardTitle {
  font-family: 'Tarrget Condensed';
  font-size: 40px;
  color: #defe47;
}

.eventCard {
  width: 500px;
  padding: 20px;
  height: 105px;
  opacity: 0.9;
  background: #7700a6;
  border: 3px solid #fe00fe;
  border-radius: 34px;
  margin-bottom: 15px;
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
  text-align: justify;
  font-weight: 100;
}

.eventCard img {
  height: 100px;
  width: auto;
  float: left;
  margin-left: -20px;
}

.news {
  height: 100%;
  overflow: scroll;
  max-height: 600px;
}

.countdown {
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
}

.allPerformers {
  height: 600px;
  overflow: auto;
}

.allPerformers .performerCard {
  margin: 0 auto;
  max-width: 600px;
}

.landingBox {
  opacity: 0.9;
  background: #7700a6;
  border: 3px solid #fe00fe;
  border-radius: 34px;
  width: 40%;
  min-width: 300px;
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

.landingDescription {
  text-align: justify;
  font-family: 'Inconsolata', monospace;
}

.performerProfile {
  margin: 0 auto;
  max-width: 500px;
}

.performanceHistory {
  height: 400px;
  overflow: scroll;
}

.historyCard {
  opacity: 0.9;
  background: #7700a6;
  border: 3px solid #fe00fe;
  border-radius: 34px;
  width: 40%;
  min-width: 300px;
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
  text-align: center;
  margin: 15px auto;
}

.userCard {
  opacity: 0.9;
  background: #7700a6;
  border: 3px solid #fe00fe;
  border-radius: 34px;
  width: 20%;
  min-width: 300px;
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
  text-align: center;
  margin: 15px auto;
  padding: 15px 30px;
}

.userBalance {
  margin: 0 auto;
}

.userCard i {
  margin-left: -40px;
}

.shareHistory {
  margin-top: 40px;
  height: 350px;
  overflow: scroll;
}

.shareCard {
  opacity: 0.9;
  background: #7700a6;
  border: 3px solid #fe00fe;
  border-radius: 34px;
  width: 40%;
  height: 110px;
  min-width: 300px;
  font-family: monospace;
  font-size: 21px;
  color: #defe47;
  text-align: left;
  margin: 15px auto;
  padding: 15px 30px;
}

.shareCard img {
  height: 100px;
  width: auto;
  float: left;
}

.shareAmount {
  font-family: 'Tarrget Condensed';
  font-size: 20px;
  background: #defe47;
  border-radius: 20.5px;
  border: none;
  width: 50px;
  height: 50px;
  outline: none;
  padding-left: 10px;
}

.performanceTime {
  margin-top: 15px;
}

.performanceEarnings {
  margin-bottom: 15px;
}
